* {
	box-sizing: inherit;
	font-family: 'Questrial', sans-serif;
}

body {
	margin: 0;
	padding: 0;
    overflow: none !important;
    background-color: #F9F6F7;
    text-align: center;
    justify-content: center;
}

.map {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.doneButton {
    background-image: url("../../Images/background.png");
    background-size: cover;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    margin-top: 10px
}