@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
	box-sizing: inherit;
	font-family: 'Open Sans'
}
.prov
{
	background-image: url("../../Images/header-background.png");
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
}
.username {
	display: inline-block;
	width: 75%;
	box-sizing: border-box;
	height: 40px;
	margin-top: 5vh;
	color: #000;
	background-color: #fff;
	opacity: .6;
	font-family: 'Open Sans';
	margin-bottom: 1vh;
	border-radius: 50px;	
    border: 1px solid #000;
}

.password {
	display: inline-block;
	width: 75%;
	box-sizing: border-box;
	height: 40px;
	margin-top: 2vh;
	color: #000;
	background-color: #fff;
	opacity: .6;
	font-family: 'Open Sans';
	margin-bottom: 4vh;
	border-radius: 50px;
    border: 1px solid #000;
}
.loginbtn {
	display: inline-block;
	box-sizing: border-box;
	font-size: 1rem;
	font-weight: bolder;
	color: #fff;
	padding: 5px 31% ;
	font-family: 'Open Sans';
	margin-top: 25px;
	border-radius: 50px;
	background-image: url("../../Images/background.png");
    background-size: cover;
    border: 1px solid #000;
}
.password::placeholder {
	color: #000;
}

.username::placeholder {
	color: #000; 
}