.donate_box{
	background-image: url("../../Images/header-background.png");
	background-size: contain;
	background-repeat: no-repeat;
	/*border-radius: 10% 30% 50% 70%;*/

}

.donate{
	margin-left: 20px;
	height: 65px;
	width: 335px;
	font-weight: 900;
}

#donate{
	font-size: 40px;
	text-align: center;	
	padding: 10px;
	color: white;
	font-family: 'Open Sans';
}

#cardi{
	margin-left: 5px;
	width: 20rem;
	box-shadow:
  0 6.7px 0px rgba(255, 77, 77,1.0),
  0 12.5px 10px rgba(255, 102, 102,0.9),
  0 22.3px 17.9px rgba(255, 128, 128,0.06),
  0 41.8px 33.4px rgba(255, 153, 153,0.4),
  0 100px 80px rgba(255, 179, 179,0.12)
;
	min-height: 200px;
	margin-top: 10px;
	margin-bottom: 25px;
	background: white;
	border-radius: 5px;
}

#cardB{
	padding: 5px;
	font-size: 18px;
}

#txti{
	line-height: normal;
}

#nextbtn{
	background-image: url(./../../Images/background.png);
	background-repeat:no-repeat; 
	background-size: cover;
	border: none;
}

#A{
 font-weight: bold;
}
#pho{
	width: 318px;
	height: auto;
}


/* *
{
	font-family: Source Serif Pro !important;
	font-weight: normal;
}
.bar
{
	background-color:#CD1807;
	font-size: 36px;
	line-height: 49px;
}
#main
{
	margin-left: 0;
	padding: 0;
}
.mainComp
{
	margin-bottom: 3%;
	margin-top: 3%;
	border:2px solid black;
	border-radius:10px;
	width: 90vw;
	margin-left: 7vw;
}
.link
{
	color:#B40C24;
}
.mainComp span
{
	font-size: 22px;;
	font-weight: bold;
} */