*{
	font-family: 'Open Sans', sans-serif;
}
table
{
	border-spacing: 0px;
	border-collapse: collapse;

}
table td, table tr
{
    padding: 0; /* 'cellpadding' equivalent */
}

#trophy
{
	width:145%;
	height: auto;
}
#profilS
{
	width: 10%;
	height: auto;
	border:1px solid black;
	border-radius:100%;
	margin: 2%;
}
.katrori
{
	background-color: #ffffff;
	border-radius: 50px;
	padding:2px;
	margin-left: -200px;
}
.katrori h4
{
	display: inline-table;
	vertical-align:center;
}
.rrethi{
	border-radius:50%;
	width:50px;
	height:50px;
	margin: 0px;
	padding: 0px;
	background-color: #ffbf00;
} 
.rrethi h4{
	display: inline-table;
	vertical-align:center;

}
#nr{
	color:#ffffff;
	font-weight: bold;
	
}
#points
{
	float: right;
	text-align: center;

	
}
