@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	box-sizing: inherit;
	font-family: 'Open Sans' !important
}

html {
	overflow: none !important;
}

body {
	margin: 0;
	padding: 0;
	overflow: none !important;
	text-align: center;
}

.maindiv {
	background-image: url("../../Images/header-background.png");
	height: 100vh;
	background-size: contain;
	background-repeat: no-repeat;
}

.header {
	height: 25px;	
	background-size: cover;
}

.calendardiv {
	width: 100%;
	text-align: center;
	justify-content: center;
	display: flex;
	padding-top: 10px;
	margin: 0;
}

.okbtn {
	background-image: url("../../Images/background.png");
    background-size: cover;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
	margin-top: 10px;
	margin-bottom: 15vh;
	font-family: 'Open Sans'
}

h3 {
	margin-top: 10px;
	font-family: 'Open Sans';
	font-weight: bolder;
}

.calendarTime {
	border: none !important;
	padding: 20px !important;
}

.calendarDate {
	border: none !important;
	box-shadow: 0px 7.5px 3px -6px rgba(0,0,0,0.75);
}