@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {	
	font-family: 'Questrial', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: none !important
}
#txtbg{	
	background-color: #dfdfdf ;
	opacity: 0.6;
	border-radius:20px;
	margin: 10vw;
}
#txtbg p{
	font-weight: bold;
	justify-self:center;
	margin:15%;
	color:#000;
}
#mainF{
	background-color: #fc9842;
	background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
	height: 100vh;
}

.label_1 {
    display: inline-block;
	width: 150%;
	box-sizing: border-box;
	height: 50px;
	margin-bottom: 40px;
	margin-left: -20%;
	border-radius: 50px;
    background-color: rgba(128, 15, 32, 0.795);
	color: #eee;
	justify-content: center;

}
.label_2 {
    display: inline-block;
	width: 150%;
	box-sizing: border-box;
	height: 50px;
	margin-left: -21%;
    border-radius: 50px;
    background-color: #B40C24;
	color: #fff;
	justify-content: center;
}
