*{
    font-family: Open Sans;
}   
#main{
    overflow-x: hidden;
    margin-bottom: 7vh;
    background-color: #fc9842;
    background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
}
#header
{
    width: 80%;
    height: auto;
}
#buton{
    background-color:#F33;
    color:#FFF;
    border-radius:12px;
}
.kuq
{
    color:#FFF;
    margin: 0;
    padding: 0;
}
.sliders
{
    width:70%;
    height: auto;
    display: inline-block;
}