 #foto{
    width: 100%;
    height: auto;
}
.bar{
    position: fixed;
    bottom: 0;
	background-image: url("../../Images/footer.png");
	background-size: cover;
	background-repeat: repeat;
} 
.footer{
    height:25%;
    width: auto;    
}
.txt{
    color: #000;
}