#mainS{
    font-size: large;
	background-color: #fc9842;
	background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
}
#sub{
	height: 5vh;
	width: 50vw;
    border-radius: 60px;
	font-size: 1rem;
	font-weight: bolder;
	background-color: white	;
	color: #420504;
}
.inp{
    border: 1px solid #000;    
	border-radius: 50px;
    color: white;
	background-color: #420504;
	opacity: .6;
	border: none;
}
