#o{    
    background-color: #fc9842;
    background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
    height: 105vh;
}
.donations{
    border: 1px solid #fff;    
    border-radius: 15px;
    height: 35px;
}
.hint{
    color: #3F3C3C;
}
#hosLogo{
    width:5%;
    height: auto;
}
.ngjyra{
    color:#FFF;
}
#lapsi{
    width: 8%;
    height: auto;
    margin-left: -30px;  
}

#lapsi1{
    width: 15%;
    height: auto;
    margin-left: 6px;
}
#mainPB{
	margin-bottom: 14vh;
}